<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
</head>
<body>
    <div class="passkey-container">
        <h1>Signup and Login with Passkey</h1>
            Username:<br>
            <input type="text" id="pk-username"><br>
            <button id="loginButton">Login</button>
            <button id="registerButton">Register</button>
    </div>
        <h1>Normal Login and Signup</h1>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/app/login" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <label for="totp">totp code:</label>
            <input type="totp" id="totp" name="totp"><br>
            <button type="submit">Login</button>
        </form>
    </div>
    <div class="signup-container">
        <h2>Signup</h2>
        <form action="/app/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br>
            <button type="submit">signup</button>
        </form>
    </div>
</body>
</html>
